---
import type { Post } from '~/types';
import Grid from '~/components/blog/Grid.astro';
import Button from '~/components/ui/Button.astro';

export interface Props {
  posts: Post[];
  title?: string;
  count?: number;
  linkText?: string;
  linkUrl?: string;
}

const {
  posts,
  title = 'Recent Releases',
  count = 3,
  linkText = 'View all releases',
  linkUrl = '/category/releases',
} = Astro.props;

const displayPosts = posts.slice(0, count);
---

<section class="mt-12">
  <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center mb-6 gap-2">
    <h2 class="text-3xl font-bold tracking-tight font-heading">{title}</h2>
    {
      linkText && linkUrl && posts.length > count && (
        <Button variant="link" href={linkUrl}>
          {linkText} »
        </Button>
      )
    }
  </div>
  <Grid posts={displayPosts} columns={3} />
</section>
